/**
 * (optional) define here the style definitions which should be applied on the slider container
 * e.g. width including further controls like arrows etc.
 */
 .slider {}
 
 .frame {
     /**
      * (optional) wrapper width, specifies width of the slider frame.
      */
     width: 880px;
 
     position: relative;
     font-size: 0;
     line-height: 0;
     overflow: hidden;
     white-space: nowrap;
 }
 
 .slides {
     display: inline-block;
 }
 
 li {
     position: relative;
     display: inline-block;
     font-size: 40px;
     padding: 10px;
     height: 140px;
 
     /**
      * (optional) if the content inside the slide element has a defined size.
      */
     width: 880px;
 }